// 登录页面的css
/*全局样式*/
body,p,ul,ol,td,th,dl,dd,fieldset,h1,h2,h3,h4,h5,h6,input,legend,option,textarea{margin: 0;padding:0;}
li{list-style: none;}
a,ul{text-decoration: none;}
img{border: 0;vertical-align: middle;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
strong,b{font-weight: normal;}
em,i{font-style: normal;}
img,fieldset{border: 0;}
body{font: 12px "微软雅黑";}
textarea{resize: none;}
input,a{outline: none;}

.l{float: left;}
.r{float: right;}
.borderNo{border: none !important;}

/*万能清除法*/
.Bothclear:after{
	content: "";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
body{
    background: #999999;
}
// 大盒子
.signin{
    width: 310px;
    height: 450px;
    // background: yellow;
    margin: 0 auto;
    margin-top: 200px;
    .logo{
        width:226px ;
        height: 100px;
        margin: 0 auto;
        // background: pink;
        img{
            width: 226px;
            height: 100px;
        }
    }
    .username{
        width: 300px;
        height: 40px;
        margin: 0 auto;
        margin-top: 40px;
        background: #cccccc;
        padding-top: 10px;
        font-weight: bold;
        .username_l{
            width: 50px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #f4f4f4;
            float: left;
            border-right: 1px solid #f4f4f4;
            
            i{
                font-size: 24px;
                font-weight: bold;
            }
        }
        input{
            width: 235px;
            height: 30px;
            text-align: start;
            float: left;
            padding-left: 10px;
            border-style: none;
            background: #cccccc;
            font-family: 微软雅黑;
            font-size: 14px;
            color: #fefefe;
        }
        // 设置默认值的属性
        ::-webkit-input-placeholder{
            font-family: 微软雅黑;
            font-size: 14px;
            color: #fefefe ;
            font-weight: bold;
        }
    }
    .password{
        width: 300px;
        height: 40px;
        margin: 0 auto;
        margin-top: 10px;
        background: #cccccc;
        padding-top: 10px;
        font-weight: bold;
        .password_l{
            width: 50px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #f4f4f4;
            float: left;
            border-right: 1px solid #f4f4f4;
            i{
                font-size: 24px;
                font-weight: bold;
            }
        }
        input{
            width: 235px;
            height: 30px;
            text-align: start;
            float: left;
            padding-left: 10px;
            border-style: none;
            background: #cccccc;
            font-family: 微软雅黑;
            font-size: 14px;
            color: #fefefe;
        }
        // 设置默认值的属性
        ::-webkit-input-placeholder{
            font-family: 微软雅黑;
            font-size: 14px;
            color: #fefefe ;
            font-weight: bold;
        }
    }
    .check{
        width: 300px;
        height: 13px;
        // background:red;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 15px;
        input{
            width: 13px;
            height: 13px;
            float: left;
            margin-right: 2px;
        }
        p{
            width: 48px;
            height: 13px;
            float: left;
            color: #fff;
            line-height: 13px;
        }
        a{ 
            width: 60px;
            height: 13px;
            float:right;
            color: #fff;
            line-height: 13px;
            // text-decoration: underline;

        }
    }
    .loginBtn{
        display: block;
        width: 300px;
        height: 50px;
        background: #25292e;
        font-size: 18px;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        color: #fff;
        margin: 0 auto;
        margin-top: 9px;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .loginIcon{
        width: 300px;
        height: 40px;
        line-height: 40px;
        // background:pink;
        margin: 0 auto;
        a{
            display: block;
            float: left;
            width: 36px;
            height: 36px;
            line-height: 36px;
            color: #d9d9d9;
            font-size: 25px;
            margin-right: 10px;
            i{
                width: 36px;
                height: 36px;
                line-height: 36px;
                color: #d9d9d9;
                font-size: 25px;
                margin-right: 8px;
            }
        }
       
        .register{
           a{
            width: 56px;
            height: 23px;
            line-height: 23px;
            float: right;
            font-size: 14px;
            font-weight: bold;
            border-bottom: 1px solid #ffffff;
            color: #fff;
            margin-top:2px;
           }
        }
  
    }
    .alert{
        width: 300px;
        height: 40px;
        line-height: 40px;
        // background:pink;
        margin: 0 auto;
        #login_suc{
               width: 300px;  
               height: 40px;
               background: green;
               line-height: 40px;
               text-align: center;
               font-size: 14px;
               color: #fff;
        }
        #login_err{
            width: 300px;  
            height: 40px;
            background: red;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #fff;
     }
    }
}
.loginIcon a:hover i{
    color: #ccc;
}
// 输入证号密码提示内容:
#login_suc{
    display: none;
}
#login_err{
    display: none;
}